@lost flexbox flex;
@lost rounder 100;


.appLayout {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.appHeader {
    flex: 0 0 auto;
    z-index: 10;
}

/*header div {*/
    /*lost-column: 1/1 0 0*/
/*}*/

.appBody {
    flex-grow: 1;
    display: flex;
    background-color: #EEEEEE;
    flex-direction: column;
}

.appToolbarContainer {
    flex: 0 0 auto;
    z-index: 10;
}

.appMainContainer {
    z-index: 5;
    display: flex;
    flex-grow: 1;
    flex-direction: row;
}

.sideNav {
    z-index: 0;
    width: 220px;
}
